h1,
h2,
h3 {
  padding: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --bigblock: #2f303a;
  --contact-color: #757575;
  --bluecol: #2196f3;
  --title-color: #212121;
  --p-color: #757575;
  --backcol: #fff;
  --mainfont: "Raleway";
  --anyfont: "Roboto";
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--backcol);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.link {
  font-family: var(--anyfont);
  text-decoration: none;
  font-size: 14px;
  color: var(--title-color);
}
.list-no {
  list-style: none;
}
.zagolovok {
  font-family: var(--anyfont);
  color: var(--p-color);
}

nav {
  display: flex;
}

.header {
  padding: 24px 0px 25px 0px;
}

header .container {
  display: flex;
}

.logo {
  font-family: var(--mainfont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  height: 31px;
  margin-right: 90px;
}
.logo-span {
  color: var(--bluecol);
}
.white-span {
  color: var(--backcol);
}
.menu {
  align-items: center;
  display: flex;
}
.nav-item {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  line-height: 2.14;
}
.nav-link:hover {
  color: var(--bluecol);
}

.con-item {
  margin-right: 50px;
}

.con-list {
  display: flex;
  margin-left: auto;
}
.con-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 3.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.con-link:hover,
.con-link:focus {
  color: var(--bluecol);
}

.bigblock {
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../title.jpg);

  padding-top: 200px;
  padding-bottom: 200px;
}
.main-title {
  color: var(--backcol);
  font-family: var(--anyfont);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  width: 696px;
}
.order-but {
  background: var(--bluecol);
  font-family: var(--anyfont);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  letter-spacing: 0.06em;
  color: var(--backcol);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 500ms;
}

.center {
  text-align: center;
}

.about-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list {
  display: flex;
}
.about-list-item:not(:last-child) {
  margin-right: 30px;
  width: 270px;
}

.mini-title {
  font-family: var(--anyfont);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.about-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.title-section {
  font-family: var(--anyfont);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.list-img-section {
  padding-bottom: 94px;
}
.list-img {
  display: flex;
  justify-content: space-between;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.list-team {
  display: flex;
  justify-content: space-between;
}
.card-people {
  background-color: var(--backcol);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.card-people:last-child {
  margin-right: 0px;
}
.title-name {
  font-family: var(--anyfont);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.job {
  font-family: var(--anyfont);
  color: var(--p-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  margin-top: 15px;
}

.address-street {
  color: var(--backcol);
  font-family: var(--anyfont);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.footer-item-list {
  margin-top: 9px;
}
.footer .footer-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-link:hover {
  color: var(--bluecol);
}
.footer .footer-link:focus {
  color: var(--bluecol);
}

.catalog {
  padding: 94px 0px 94px 0px;
}
.categori-but {
  display: flex;
  margin: 0px auto 50px auto;
  justify-content: center;
}
.catalog-but {
  font-family: var(--anyfont);
  background: var(--backcol);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-right: 8px;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: none;
}

.catalog-but:hover,
.catalog-but:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--backcol);
  background: var(--bluecol);
}
.project-port {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.project {
  margin: 15px;
  width: 370px;
}
.project:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.disription-port {
  padding: 20px;
}

.name-project {
  font-family: var(--anyfont);
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.type-catalog {
  font-family: var(--anyfont);
  color: var(--p-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.icon-mail {
  width: 16px;
  height: 12px;
  stroke: currentColor;
  margin-right: 10px;
}

.icon-phone {
  width: 10px;
  height: 16px;
  stroke: currentColor;
  margin-right: 10px;
}

.icon-clock,
.icon-pc,
.icon-astronaut,
.icon-sputnik {
  width: 270px;
  height: 120px;
}

.icon-client {
  width: 106px;
  height: 60px;
}

.icon-link-client {
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.icon-link-client:hover,
.icon-link-client:focus {
  fill: var(--bluecol);
  border-color: var(--bluecol);
}

.cocial {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.cocial-link {
  width: 20px;
  height: 20px;
}
.cocial-link-href2,
.cocial-link-href {
  fill: #afb1b8;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.cocial-link-href2 {
  background: rgba(255, 255, 255, 0.1);
}
.cocial-link-href2:hover,
.cocial-link-href:focus,
.cocial-link-href:hover {
  background-color: var(--bluecol);
  fill: #fff;
}

.cocial-margin {
  margin-right: 10px;
}

.cocial2 {
  color: #fff;
}

.footer2 {
  margin-top: 72px;
}

.content {
  align-items: baseline;
  display: flex;
}

.margin-content {
  margin-right: 70px;
}
