.bigblock {
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../title.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}

.bigblock-title {
  color: var(--backcol);
  font-family: var(--anyfont);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  width: 696px;
}

.bigblock-center {
  text-align: center;
}
