.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(1turn) scale(1);
}

.podpiska {
  margin-left: 93px;
}

.for-mail {
  font-family: roboto;
  height: 50px;
  width: 358px;
  padding: 0px 0px 0px 16px;
  margin-right: 12px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

.for-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-podpiska {
  margin-top: 20px;
  display: flex;
}

.back-list {
  position: relative;
}

.text-list {
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  margin-bottom: 3px;
}

.modal-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.form {
  width: 100%;
  padding: 40px;
}

.form-label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-label .input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 448px;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:focus {
  border-color: #2196f3;
}

.comment-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement-link {
  margin-left: 3px;
  color: #2196f3;
  text-decoration: underline;
}
.agreement-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .agreement-label::before {
  background-image: url(/icons/galka.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  border-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
