h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--backcol);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
}
