@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf) format("woff"),
    url(../fonts/Raleway/Raleway-VariableFont_wght.ttf) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: "swap";
}
